{% extends "embed_base.html" %}

{% block title %}Embedded Calendar{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div id="calendar" class="row embedded-calendar" data-view="{{ view }}"></div>
</div>
{% if not embedded %}
<div class="mt-4">
    <h3>Embed Code</h3>
    <p>Copy and paste the following code to embed this calendar on your website:</p>
    <pre><code>{{ iframe_code }}</code></pre>
</div>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/date-fns@4.1.0/cdn.min.js"></script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}

{% block body_class %}embedded{% endblock %}
